
@font-face {font-family: "iconfont";
  src:url('../fonts/pinglunIconfont.ttf?t=1526351568239') format('truetype'); 
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}

.icon-pinglun:before { content: "\e63a"; }

.icon-dianping_zan:before { content: "\e611"; }

.icon-dianping_cha:before { content: "\e63b"; }

