<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script src="html5plus://ready"></script>
	</head>

	<body>
		<header class="mui-bar" style="background-color: #12cdb0;height: 60px;">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;font-size:20px;padding-top: 32px;"></a>
		    <h1 class="mui-title" style="margin-top: 20px; color: #FFFFFF;">聊天</h1>
		</header>
		<div class="mui-bar mui-bar-tab mui-footer-nav">
			<div id="msg-send">
				<span class="mui-btn mui-btn-green mui-icon mui-icon-arrowthinup"></span>
			</div>
			<input type="text" class="sendInput" />
			
			<div class="iconnav">
				<ul>
					<li class="yuyin" date-nav="tabBar1"><span class="iconfont icon-yuyin"></span></li>
					<li class="tupian" date-nav="tabBar2"><span class="iconfont icon-tupian"></span></li>
					<li class="xiangji" date-nav="tabBar3"><span class="iconfont icon-xiangji"></span></li>
					<li class="biaoqing" date-nav="tabBar4"><span class="iconfont icon-biaoqing"></span></li>
				</ul>
			</div>
		</div>

		<div id="rerr" class="mui-content mui-scroll-wrapper chat-box" style="background: #edeef1;">
			<div class="mui-scroll">

				<div class="chat-trip pastMessage">
					<div class="mui-pull-loading mui-icon mui-spinner mui-visibility"></div>
				</div>

				<!--<div class="chat-trip">无更多历史消息</div>-->

				<div class="bubbleDiv"></div>

			</div>
		</div>

		<div id='sound-alert' class="rprogress">
			<div id="times" class="times">0</div>
			<div class="rschedule"></div>
			<div class="r-sigh">!</div>
			<div id="audio_tips" class="rsalert">手指上滑，取消发送</div>
		</div>

		<footer>
			<div class="tabBar1 tabBar">
				<div id='msg-sound'>
					<span class='iconfont icon-yuyin'></span>
				</div>
			</div>
			<div class="tabBar2 tabBar item">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div id="selectImage" class="mui-scroll"></div>
				</div>
				<div class="navbtn">
					<span class="mui-btn mui-select-gallerys">相册</span>
					<span class="mui-btn mui-btn-send">发送</span>
				</div>
			</div>
			<div class="tabBar3 tabBar">
			</div>
			
			<div class="tabBar5 tabBar">

			</div>
		</footer>

		<!--基础库-->
		<link rel="stylesheet" href="../../../css/style.css" />
		<link rel="stylesheet" href="../../../css/mui.min.css" />
		<link rel="stylesheet" href="../../../imfonts/iconfont.css" />
		<script type="text/javascript" src="../../../js/mui.min.js"></script>
		<link rel="stylesheet" href="index.css" /> 

		<!--图片操作预览-->
		<link rel="stylesheet" href="../../../js/ImageHelper/Upimg.css" />
		<script type="text/javascript" src="../../../js/ImageHelper/mui.zoom.js"></script>
		<script type="text/javascript" src="../../../js/ImageHelper/mui.previewimage.span.js"></script>
		<script type="text/javascript" src="../../../js/ImageHelper/Project.UpImg.js"></script>

		<!--原生控件及样式-->
		<link rel="stylesheet" href="../../../css/ImViewHelper.css" />
		<script type="text/javascript" src="../../../js/iScrollHelper.js"></script>
		<script type="text/javascript" src="chat.js"></script>

		<script type="text/javascript" src="../../../bll/itool.js" data-bll="itool.store" data-main="index.js"></script>
		
		<script type="text/javascript" src="../../../js/ad_ImViewHelper.js"></script>
		<style>
			.mui-bar-tab~.mui-content{
				padding-bottom: 120px;
			}
		</style>

	</body>

</html>